* {
  box-sizing: border-box; }

body {
  background-color: #22272e;
  color: #adbac7;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 1.5;
  margin: 0;
  padding: 0; }
  body .button {
    background-color: #347d39;
    border: solid 1px #46954a;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 5px 15px;
    transition: .25s; }
    body .button:hover {
      background-color: #46954a;
      border-color: #57ab5a; }
    body .button.danger {
      background-color: #373e47;
      border-color: #444c56;
      color: #e5534b; }
      body .button.danger:hover {
        background-color: #c93c37;
        border-color: #e5534b;
        color: #fff; }
    body .button.neutral {
      background-color: #373e47;
      border-color: #444c56; }
      body .button.neutral:hover {
        background-color: #444c56;
        border-color: #768390; }
  body .hidden {
    display: none; }
  body header {
    background-color: #2d333b;
    color: rgba(205, 217, 229, 0.7);
    height: 50px;
    margin: 0;
    padding: 0; }
    body header h1 {
      float: left;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding: 15px 0 0 20px; }
    body header ul {
      float: left;
      list-style: none;
      margin: 0;
      padding: 15px 0 0 60px; }
      body header ul li {
        float: left;
        margin: 0;
        padding: 0 30px 0 0; }
        body header ul li a {
          cursor: pointer;
          transition: .25s; }
          body header ul li a:hover {
            color: #fff; }
    body header div {
      float: right;
      height: 50px;
      padding: 10px 10px 0 0; }
      body header div a {
        background-color: #22272e;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(205, 217, 229, 0.1);
        cursor: pointer;
        display: block;
        height: 30px;
        opacity: .9;
        transition: .25s;
        width: 30px; }
        body header div a:hover {
          opacity: 1; }
  body menu {
    background-color: #373e47;
    border: solid 1px #444c56;
    border-radius: 5px;
    display: block;
    margin: 0;
    padding: 0;
    width: 200px; }
    body menu#MenuUser {
      position: absolute;
      right: 5px;
      top: 55px; }
    body menu ul {
      border-top: solid 1px #444c56;
      list-style: none;
      margin: 0;
      padding: 5px 0; }
      body menu ul:first-child {
        border-top: none; }
      body menu ul li {
        margin: 0;
        padding: 0; }
        body menu ul li a {
          background-color: transparent;
          color: #adbac7;
          cursor: pointer;
          display: block;
          padding: 4px 8px 4px 16px;
          text-decoration: none; }
          body menu ul li a:hover {
            background-color: #316dca;
            color: #cdd9e5;
            text-decoration: none; }
  body panel {
    display: block;
    margin: 0;
    min-height: 100px;
    padding: 20px 20px 80px 20px; }
    body panel.loading {
      background-image: url("/assets/img/ajax-loader.gif");
      background-position: center;
      background-repeat: no-repeat; }
      body panel.loading * {
        display: none; }
    body panel toolbar {
      display: block;
      margin: 0;
      padding: 0; }
    body panel form {
      margin: 50px 0 0 0;
      padding: 0; }
      body panel form div.form-item {
        padding: 1px 0; }
        body panel form div.form-item label {
          cursor: pointer;
          display: inline-block;
          font-weight: bold;
          width: 100px; }
          body panel form div.form-item label::after {
            content: ':'; }
        body panel form div.form-item input {
          background-color: rgba(28, 33, 40, 0.5);
          border: solid 1px #373e47;
          border-radius: 5px;
          color: #adbac7;
          display: inline-block;
          padding: 10px;
          width: 300px; }
          body panel form div.form-item input.readonly {
            background-color: transparent;
            border-color: transparent; }
          body panel form div.form-item input.ok {
            color: #347d39;
            font-weight: bold; }
          body panel form div.form-item input.error {
            color: #c93c37;
            font-weight: bold; }
          body panel form div.form-item input.warning {
            color: #aec937;
            font-weight: bold; }
    body panel table {
      margin: 50px 0 0 0;
      padding: 0;
      width: 100%; }
      body panel table thead {
        margin: 0;
        padding: 0; }
        body panel table thead tr {
          margin: 0;
          padding: 0; }
          body panel table thead tr th {
            font-weight: bold;
            margin: 0;
            padding: 5px;
            text-align: left; }
      body panel table tbody {
        margin: 0;
        padding: 0; }
        body panel table tbody tr {
          margin: 0;
          padding: 0; }
          body panel table tbody tr td {
            margin: 0;
            padding: 5px; }
            body panel table tbody tr td a {
              cursor: pointer; }
            body panel table tbody tr td.status {
              border-radius: 5px;
              font-weight: bold;
              padding-left: 10px; }
              body panel table tbody tr td.status.error {
                background-color: #c93c37; }
              body panel table tbody tr td.status.warning {
                background-color: #aec937; }
              body panel table tbody tr td.status.ok {
                background-color: #347d39; }
          body panel table tbody tr:hover td {
            background-color: #2d333b; }
            body panel table tbody tr:hover td.status.error {
              background-color: #e5534b; }
            body panel table tbody tr:hover td.status.ok {
              background-color: #46954a; }
