* {
    box-sizing: border-box;
}

body {
    background-color: #22272e;
    color: #adbac7;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 1.5;    
    margin: 0;
    padding: 0;

    .button {
        background-color: #347d39;
        border: solid 1px #46954a;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        padding: 5px 15px;
        transition: .25s;

        &:hover {
            background-color: #46954a;
            border-color: #57ab5a;
        }

        &.danger {
            background-color: #373e47;
            border-color: #444c56;
            color: #e5534b;

            &:hover {
                background-color: #c93c37;
                border-color: #e5534b;
                color: #fff;
            }
        }

        &.neutral {
            background-color: #373e47;
            border-color: #444c56;

            &:hover {
                background-color: #444c56;
                border-color: #768390;
            }
        }
    }

    .hidden {
        display: none;
    }

    header {
        background-color: #2d333b;
        color: rgba(205, 217, 229, .7);
        height: 50px;
        margin: 0;
        padding: 0;

        h1 {
            float: left;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
            padding: 15px 0 0 20px;

            span {
                clear: both;
                display: block;
                font-size: 10px;
                font-weight: normal;
                margin-top: -5px;
            }
        }

        ul {
            float: left;
            list-style: none;
            margin: 0;
            padding: 15px 0 0 60px;

            li {
                float: left;
                margin: 0;
                padding: 0 30px 0 0;

                a {
                    color: #adbac7;
                    cursor: pointer;
                    text-decoration: none;
                    transition: .25s;

                    &:hover {
                        color: #fff;
                        text-decoration: none;

                        span {
                            &.count {
                                &.alert {
                                    color: #f00;
                                }
                            }
                        }
                    }

                    span {
                        display: inline-block;

                        &.count {
                            background-color: #1f2227;
                            border-radius: 5px;
                            margin-left: 5px;
                            padding: 0 10px;
                            text-align: center;

                            &.alert {
                                color: #c93c37;
                            }
                        }
                    }
                }
            }
        }

        div {
            float: right;
            height: 50px;
            padding: 10px 10px 0 0;

            a {
                background-color: #22272e;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                box-shadow: 0 0 0 1px rgba(205, 217, 229, .1);
                cursor: pointer;
                display: block;
                height: 30px;
                opacity: .9;
                transition: .25s;
                width: 30px;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    menu {
        background-color: #373e47;
        border: solid 1px #444c56;
        border-radius: 5px;
        display: block;
        margin: 0;
        padding: 0;
        width: 200px;

        &#MenuUser {
            position: absolute;
            right: 5px;
            top: 55px;
        }

        ul {
            border-top: solid 1px #444c56;
            list-style: none;
            margin: 0;
            padding: 5px 0;

            &:first-child {
                border-top: none;
            }

            li {
                margin: 0;
                padding: 0;

                a {
                    background-color: transparent;
                    color: #adbac7;
                    cursor: pointer;
                    display: block;
                    padding: 4px 8px 4px 16px;
                    text-decoration: none;

                    &:hover {
                        background-color: #316dca;
                        color: #cdd9e5;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    panel {
        display: block;
        margin: 0;
        min-height: 100px;
        padding: 20px 20px 80px 20px;

        &.loading {
            background-image: url('/assets/img/ajax-loader.gif');
            background-position: center;
            background-repeat: no-repeat;

            * {
                display: none;
            }
        }

        toolbar {
            display: block;
            margin: 0;
            padding: 0;

            a {
                color: #adbac7;
                text-decoration: none;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        form {
            margin: 50px 0 0 0;
            padding: 0;

            div {
                &.form-item {
                    padding: 1px 0;
    
                    label {
                        cursor: pointer;
                        display: inline-block;
                        font-weight: bold;
                        width: 100px;
    
                        &::after {
                            content: ':';
                        }
                    }
    
                    input {
                        background-color: rgba(28, 33, 40, .5);
                        border: solid 1px #373e47;
                        border-radius: 5px;
                        color: #adbac7;
                        display: inline-block;
                        padding: 10px;
                        width: 300px;
    
                        &.readonly {
                            background-color: transparent;
                            border-color: transparent;
                        }
    
                        &.ok {
                            color: #347d39;
                            font-weight: bold;
                        }
    
                        &.error {
                            color: #c93c37;
                            font-weight: bold;
                        }
    
                        &.warning {
                            color: #aec937;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        h2 {
            font-size: 20px;
            font-weight: normal;
            margin: 50px 0 0 0;
            padding: 0;
            text-transform: uppercase;
        }

        table {
            margin: 0;
            padding: 0;
            width: 100%;

            thead {
                margin: 0;
                padding: 0;

                tr {
                    margin: 0;
                    padding: 0;

                    th {
                        font-weight: bold;
                        margin: 0;
                        padding: 5px;
                        text-align: left;
                    }
                }
            }

            tbody {
                margin: 0;
                padding: 0;

                tr {
                    margin: 0;
                    padding: 0;

                    td {
                        margin: 0;
                        padding: 5px;

                        a {
                            color: #adbac7;
                            cursor: pointer;
                            text-decoration: none;
                            transition: .25s;

                            &:hover {
                                color: #fff;
                                text-decoration: underline;
                            }
                        }

                        &.status {
                            border-radius: 5px;
                            font-weight: bold;
                            padding-left: 10px;

                            &.error {
                                background-color: #c93c37;
                            }

                            &.warning {
                                background-color: #aec937;
                            }

                            &.ok {
                                background-color: #347d39;
                            }
                        }

                        &.status-text {
                            &.info,
                            &.ok {
                                color: #347d39;
                            }
        
                            &.critical,
                            &.error {
                                color: #c93c37;
                            }
        
                            &.warning {
                                color: #aec937;
                            }
                        }
                    }

                    &:hover {
                        td {
                            background-color: #2d333b;

                            &.status {
                                color: #fff;

                                &.error {
                                    background-color: #e5534b;
                                }

                                &.ok {
                                    background-color: #46954a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}